@import 'vartical';


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.D-flex-row{
    display: flex;
    flex-wrap:wrap;
    border: 10px inset silver;
// justify-content: space-around;
}



@for $i from 1 through 12 {
    .Col-#{$i} {
        flex-basis: (8.3333333%*$i) - 1%;
        min-width: (95px*$i);
        flex-grow: $i;
        margin: .5%;
        padding:9px;
        background:aqua;
        display:flex;
        justify-content:center;
        align-items:center;
        // text-align:center;
        height:100%;
    }
}


@for $i from 1 through 12 {
    .Col-all-#{$i} {
        flex-basis: (8.3333333%*$i) - 1%;
        margin: .5%;
        padding:5px;
        background:yellowgreen;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        height:100%;
    }
}


// .Col1{

// }
// .Col2{

// }
// .Col3{
//     margin-right:auto;
// }


















 
div.t2{
 word-wrap:break-word;  
 white-space:nowrap; 
}

html{
 scroll-behavior: smooth;
}


// function go(){
//  var myitem = document.getElementById("MyItem");
//  myitem.scrollIntoView({block: 'start', behavior: 'smooth', inline: 'start'});
// }




//  .Col3 {
    //  text-overflow:clip !important;
     //  text-overflow:"ادامه متن" !important;
 // text-overflow:ellipsis;
// }
 



// .My-Container {
//   display: grid;
// //   grid-template-columns: 200px auto 100px auto;
//   grid-template-columns: auto auto auto auto;
//   background-color: #5db616;
//   padding: 8px;
// }

// .item {
//   background-color: #f2f2f2;
//   border: 1px solid #000;
//   padding: 10px;
//   font-size: 30px;
//   text-align: center;
// }


// .My-Container {
//     display: grid;
//       grid-template-areas: 'test test test test';
//     //   grid-template-columns: 20% 20% 20%;
// //   grid-template-columns: auto auto auto auto;
// //   grid-column-gap: 1%;
// //   grid-row-gap: 1%;
//     grid-gap: 1% 1%;
//   background-color: #5db616;
//   padding: 8px;
// }

// .item {
//   background: #f2f2f2;
//   border: 1px solid #000;
//   padding: 10px;
//   font-size: 30px;
//   text-align: center;

// }

// .item6 {
//     //   grid-row-start: 3;
// //   grid-column-start: 3;
// //   grid-row-end: 2;
// //   grid-column-end: 4;
//   background-color: yellow !important;
// }







// .My-Container {
//   display: grid;
//     //   grid-template-rows: 70% 70%;
//   grid-template-areas: 'item1 item1 item2 item2' 'item3 item3 item3 item3' 'item4 item4 item5 item5';
//   grid-gap: 5px;
//   background-color: #000;
//   padding: 5px;
// }

// .My-Container > div {
//   background-color: #f2f2f2;
//   border: 1px solid #000;
//   padding: 10px;
//   font-size: 30px;
//   text-align: center;
// }

// .item1 {
//   grid-area: item1;
//   background-color: yellow !important;
// }

// .item2 {
//   grid-area: item2;
//   background-color: red !important;
//   color:#fff;
// }

// .item3 {
//   grid-area: item3;
//   background-color: #1F5EFF !important;
//   color:#fff;
// }

// .item4 {
//   grid-area: item4;
//   background-color: yellow !important;
// }

// .item5 {
//   grid-area: item5;
//   background-color: red !important;
//   color:#fff;
// }